<form method="POST" role="form" ng-controller="LoginCtrl">
  <div class="form-group">
    <label for="login">Login:</label>
    <input type="text" class="form-control" id="login" name="login" placeholder="Enter your login" ng-model="LoginForm">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" ng-model="LoginForm">
  </div>
  <button type="submit" class="btn btn-green" ng-submit="expression">Login</button>
</form>
