{{template "header" .}}
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <p>
        <form action="/login" method="POST">
          <label for="email">Email</label>
          <input type="text" name="email"/>
          <label for="password">Password</label>
          <input type="password" name="password">
          <input type="submit" name="submit">
        </form>
        </p>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash" .}}
    </div>
  </div>
</div>

{{template "footer" .}}
